{% extends 'blog/base.html' %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3>{{ post.title }}</h3>
    <small>Post created by : {{post.author}}</small>
    <p>{{post.body}}</p>
</div>
<div class="row gallery">
    {% for p in post.images_set.all %}
        <div class="col-md-3">
            <img src="{{ p.image.url }}" alt="Image Not Found" class="img-thumbnail">
        </div>
    {% endfor %}
</div>
<div id="like-section">
    {% include 'blog/like_section.html' %}
</div>
{% endblock %}
