{% extends 'blog/base.html' %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block content %}
{% include 'blog/alerts.html' %}

<div class="container-fluid">
    <h3>{{ post.title }}</h3>
    <small>Post created by : {{post.author}}</small>
    <p>{{post.body}}</p>
</div>
<div class="row gallery">
    {% for p in post.images_set.all %}
        <div class="col-md-3">
            <img src="{{ p.image.url }}" alt="Image Not Found" class="img-thumbnail">
        </div>
    {% endfor %}
</div>
<div id="like-section">
    {% include 'blog/like_section.html' %}
</div>
{% if post.author == request.user %}
<div class="section-1" style="float:right;">
    <a href="{% url 'post_edit' post.id %}">
        <button type="button" class="btn btn-outline-success">Edit</button>
    </a>
    <a href="{% url 'post_delete' post.id %}" id="delete">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
</div>
{% endif %}

<br>


<div class="main-comment-section">
    <div class="container-fluid mt-2">
        <div class="form-group row">
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                {% else %}
                    <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
                {% endif %}
            </form>
        </div>
    </div>

    {{ comments.count }}Comment{{ comments|pluralize }}
    {% for comment in comments %}
        <blockquote class="blockquote">
        <p class="mb-0">{{ comment.content }}</p>
        <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst }}</cite></footer>
</blockquote>
    <div class="replied-comments container md-2">
        <div class="form-group row">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}
                    <input type="submit" value="Submit" class="btn btn-outline-success">
                {% else %}
                    <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
                {% endif %}
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


